@for(player of game.players; track $index) {
        <app-player [ngStyle]="{'top.px': $index * 100}" [ngClass]="{'player-overview': true, 'player--active': $index == game.currentPlayer }" [name]="player"></app-player>
}

<div class="field">
    <div class="carddeck">
        @for(card of game.cardDeck; track card; let index = $index; let last = $last) {
        @if(last) {
        <img draggable="false" (click)="drawCard()" class="carddeck__top-card" [ngClass]="{'card--draw': drawCardAnimation}" [ngStyle]="{'left.px': calculatedOffset + (game.cardDeck.length - 1) * game.deckOffset}" src="../../assets/img/cards/card_cover.png" alt="">
        } @else {
        <img draggable="false" [ngStyle]="{'left.px':  calculatedOffset + index * game.deckOffset}" src="../../assets/img/cards/card_cover.png" alt="">
        }
        }

        @for(card of game.playedCards; track card; let index = $index) {
        <img draggable="false" class="card--played" [ngStyle]="{'left.px':  (calculatedOffset) * game.deckOffset - index}" src="../../assets/img/cards/{{ game.playedCards[index] }}.png" alt="">
        }

        @if(drawCardAnimation) {
        <img draggable="false" [ngClass]="{'card--draw': drawCardAnimation}" [ngStyle]="{'left.px':  (calculatedOffset) * game.deckOffset - (game.playedCards.length-1)}" src="../../assets/img/cards/{{ game.playedCards[game.playedCards.length-1] }}.png" alt="">
        }
    </div>
</div>

<button mat-fab color="primary" (click)="openDialog()" class="player--add">
    <mat-icon>add</mat-icon>
</button>